asgiref==3.2.7
backcall==0.1.0
beautifulsoup4==4.9.1
bs4==0.0.1
certifi==2020.4.5.1
chardet==3.0.4
colorama==0.4.3
cycler==0.10.0
decorator==4.4.2
dj-database-url==0.5.0
Django==3.0.14
django-heroku==0.3.1
graphviz==0.13.2
gunicorn==20.0.4
idna==2.9
ipython==7.13.0
ipython-genutils==0.2.0
jedi==0.16.0
joblib==0.14.1
kiwisolver==1.2.0
lxml==4.5.1
matplotlib==3.2.1
node==0.9.25
npm==0.1.1
numpy==1.18.2
odict==1.7.0
optional-django==0.1.0
pandas==1.0.3
parso==0.6.2
pickleshare==0.7.5
plumber==1.5
prompt-toolkit==3.0.5
psycopg2==2.8.5
pydot==1.4.1
pydotplus==2.0.2
Pygments==2.6.1
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2019.3
requests==2.23.0
scikit-learn==0.22.2.post1
scipy==1.4.1
six==1.14.0
sklearn==0.0
soupsieve==2.0.1
sqlparse==0.3.1
traitlets==4.3.3
urllib3==1.25.9
wcwidth==0.1.9
whitenoise==5.1.0
zope.component==4.6.1
zope.deferredimport==4.3.1
zope.deprecation==4.4.0
zope.event==4.4
zope.hookable==5.0.1
zope.interface==5.1.0
zope.lifecycleevent==4.3
zope.proxy==4.3.5
