<!DOCTYPE html>
{% load static %}
<html lang="pt">
    <head>
        <meta charset="UTF-8">
        <title>Covid-19/Brasil</title>
        <link rel="shortcut icon" type='image/png' href="{% static 'CoronaApp/favicon/favicon.ico' %}">
        <link rel="stylesheet" href="{% static 'CoronaApp/css/piloto.css' %}">
        <script src="{% static 'CoronaApp/js/base.js' %}"></script>
    </head>

    <body>
        <div class="container">

            <div id="title">
                <h1 style="text-align: left; top:0 %; left: 10px;">Covid19 Brasil</h1>
                <h1>Comparações sociais e econômicas</h1>
                <form method="get" action="/ ">
                     <button type="submit">VOLTAR</button>
                </form>
            </div>


            <div class="outro3" style="float:center;">

                    <tr class="dois">
                        <div>
                            <br class="b1" style="color: black">1. Como se previnir do coronavirus?</br>

                            <br class="b2" style="color:black">R: Ficar em casa, lavar as mãos com álcool em gel, usar máscara e manter distância de 2 metros de outras pessoas.</br>

                            <br class="b3" style="color:black">2. O que devo fazer se apresentar os sintomas?</br>

                            <br class="b1" style="color: #474a51">R:Solicite um teste através de um agendamento online e evite o contato com pessoas próximas até que o teste seja feito na unidade mais próxima.</br>

                            <br class="b1" style="color: black">3. Estou precisando de dinheiro e não tenho como trabalhar.</br>

                            <br class="b1" style="color: black">R: Solicite o auxílio emergencial através do cadastro online.</br>

                            <br class="b1" style="color: black">4. Testei positivo, e agora?</br>

                            <br class="b1" style="color: black">R: Caso os sintomas sejam leves, a recuperação pode ser feita em casa e se for mais grave, você será encaminhado para uma UTI para observação.</br>

                            <br class="b1" style="color: black">5. Me recuperei, agora estou imune?</br>

                            <br class="b1" style="color: black">R: Não, houveram casos de pessoas que se recuperaram e contrairam novamente o vírus, por isso as medidas de precaução devem continuar a serem tomadas.</br>
                        </div>

            </div>

            <div class="outro">
                <br><br><br><br><br><br><br><br>
            </div>

        </div>
        <footer>
                Desenvolvido por Murillo Marques, Guilherme Inaba e Márcio Paulo
        </footer>
    </body>
</html>>