<!DOCTYPE html>
{% load static %}
<html lang="pt">
    <head>
        <meta charset="UTF-8">
        <title>Covid-19/Brasil</title>
        <link rel="shortcut icon" type='image/png' href="{% static 'CoronaApp/favicon/favicon.ico' %}">
        <link rel="stylesheet" href="{% static 'CoronaApp/css/piloto.css' %}">
        <script src="{% static 'CoronaApp/js/base.js' %}"></script>
    </head>

    <body>
        <div class="container">

            <div id="title">
                <h1 style="text-align: left; position: absolute; top:0 %; left: 10px;">Covid19 Brasil</h1>
                <h1 style="text-align: center;">FAQ</h1>
                <form method="get" action="/">
                     <button type="submit">Voltar</button>
                </form>
            </div>


            <div class="outro3" style="float:center; padding: 20px;">

                    <tr class="dois">
                        <div style="color: black">
                            <br>
                            <p style="font-size: 45px; text-align: center; color: #E1101F; font-style: italic;">Sobre o Covid-19</p>
                            <br>
                            <p style="font-size: 35px; color: #E1101F">1. Como se previnir do coronavirus?</p>

                            <p class="b1" style="font-size: 20px;">Ficar em casa, lavar as mãos com álcool em gel, usar máscara e manter distância de 2 metros de outras pessoas.</p>
                            <br><br>
                            <p class="b1" style="font-size: 35px; color: #E1101F">2. O que devo fazer se apresentar os sintomas?</p>

                            <p class="b1" style="font-size: 20px;">Solicite um teste através de um agendamento online e evite o contato com pessoas próximas até que o teste seja feito na unidade mais próxima.</p>
                            <br><br>
                            <p class="b1" style="font-size: 35px; color: #E1101F">3. Estou precisando de dinheiro e não tenho como trabalhar.</p>

                            <p class="b1" style="font-size: 20px;">Solicite o auxílio emergencial através do cadastro online.</p>
                            <br><br>
                            <p class="b1" style="font-size: 35px; color: #E1101F">4. Testei positivo, e agora?</p>

                            <p class="b1" style="font-size: 20px;">Caso os sintomas sejam leves, a recuperação pode ser feita em casa e se for mais grave, você será encaminhado para uma UTI para observação.</p>
                            <br><br>
                            <p class="b1" style="font-size: 35px; color: #E1101F">5. Me recuperei, agora estou imune?</p>

                            <p class="b1" style="font-size: 20px;">Não, houveram casos de pessoas que se recuperaram e contrairam novamente o vírus, por isso as medidas de precaução devem continuar a serem tomadas.</p>
                            <br><br>
                            <p style="font-size: 45px; text-align: center; color: #E1101F; font-style: italic;">Sobre o site</p>
                            <br>
                            <p style="font-size: 35px; color: #E1101F">1. De onde são retirados os dados usados na criação dos gráficos?</p>

                            <p class="b1" style="font-size: 20px;">Os dados são retirados da API <<a href="https://covid19api.com/" style="text-decoration: none;">covid19api.com</a>>, os dados contidos nela são atualizados conforme os dados da Universidade John Hopkins.</p>
                            <br><br>
                            <p style="font-size: 35px; color: #E1101F">2. Qual o link do projeto no Git?</p>

                            <p class="b1" style="font-size: 20px;">O link do repositório pode ser encontrado em: <<a href="https://github.com/sobralmps/projeto-javascript" style="text-decoration: none;">https://github.com/sobralmps/projeto-javascript</a>>.</p>
                        </div>

            </div>

            <div class="outro">
                <br><br>
            </div>

        </div>
        <footer>
                Desenvolvido por Murillo Marques, Guilherme Inaba e Márcio Paulo
        </footer>
    </body>
</html>