<!DOCTYPE html>
{% load static %}
<html lang="pt">
    <head>
        <meta charset="UTF-8">
        <title>Covid-19/Brasil</title>
        <link rel="shortcut icon" type='image/png' href="{% static 'CoronaApp/favicon/favicon.ico' %}">
        <link rel="stylesheet" href="{% static 'CoronaApp/css/piloto.css' %}">
        <script src="{% static 'CoronaApp/js/piloto.js' %}"></script>
    </head>

    <body>
        <div class="container">

            <div id="title">
                <h1 style="text-align: left; position: absolute; top:0 %; left: 10px;">Covid19 Brasil</h1>
                <h1>Comparações sociais e econômicas</h1> <button>FAQ</button>
            </div>


            <div class="outro2" style="float:center;">
                <table>
                    <tr class="dois">
                        <th>
                            <b class="b1" style="color: #474a51">Casos Totais</b><b style="color:black;"> |</b>
                        </th>
                        <th>
                            <b class="b2" style="color:black">Mortes</b><b style="color:black;"> |  </b>
                        </th>
                        <th>
                            <b class="b3" style="color:green">Recuperados</b><b style="color:black;"> |  </b>
                        </th>
                    </tr>
                    <td>
                        <b style="color:#474a51; font-size: 40px;">{{ casostotais }}</b>
                    </td>
                    <td>
                        <b style="color:black; font-size: 40px;">{{ mortestotais }}</b>
                    </td>
                    <td>
                        <b style="color:#474a51; font-size: 40px;">{{ recuperados }}</b>
                    </td>
                </table>
            </div>

            <div class="outro">
                <br><br><br><br><br><br><br><br>
            </div>

            <div>
                <p id="p1">Gráfico de quantidade de casos ao decorrer da pandemia</p>
            </div>

            <div id="grafico">
                <img src="{% static 'CoronaApp/image/covidgraph.png' %}">
            </div>

        </div>
        <footer>
                Desenvolvido por Murillo Marques, Guilherme Inaba e Márcio Paulo
        </footer>
    </body>
</html>