<!DOCTYPE html>
{% load static %}
<html lang="pt">
    <head>
        <meta charset="UTF-8">
        <title>Covid-19/Desemprego</title>
        <link rel="shortcut icon" type='image/png' href="{% static 'CoronaApp/favicon/favicon.ico' %}">
        <link rel="stylesheet" href="{% static 'CoronaApp/css/piloto.css' %}">
        <script src="{% static 'CoronaApp/js/piloto.js' %}"></script>
    </head>

    <body>
        <div class="container">

            <div id="title">
                <h1>AUMENTO DE DESEMPREGO COM RELAÇÃO A COVID-19 NO BRASIL</h1> <button>FAQ</button>
            </div>

            <div class="outro">
                <br><br><br><br><br>
            </div>

            <div class="outro2">
                <table>
                    <tr class="dois">
                        <th>
                            <b class="b1">Casos Confirmados</b><b style="color:black;"> |</b>
                        </th>
                        <th>
                            <b class="b2">Mortes Confirmadas</b><b style="color:black;"> |</b>
                        </th>
                        <th>
                            <b class="b3">Taxa de Desemprego</b>
                        </th>
                    </tr>
                    <td>
                        <b style="color:black; font-size: 40px;">{{ casostotais }}</b>
                    </td>
                    <td>
                        <b style="color:black; font-size: 40px;">{{ mortestotais }}</b>
                    </td>
                    <td>
                        <b style="color:black; font-size: 40px;">11,2%</b>
                    </td>
                </table>
            </div>
            <div class="outro">
                <br><br><br><br><br><br><br><br>
            </div>

            <div>
                <p id="p1">Aumento de Casos x Aumento na Taxa de Desemprego</p>
            </div>

            <div id="grafico">
                <img src ="{% static 'CoronaApp/image/serap_tet.png' %}">
            </div>

            <footer>
                Desenvolvido por Murillo Marques, Guilherme Inaba e Márcio Paulo
            </footer>

        </div>
    </body>
</html>