*{
    margin: 0;
    padding: 0;
}

html{
    height: 100%;
    font-family: helvetica, arial;
}

body{
    max-width: 100%;
    touch-callout: none;
    user-select: none;
    background-size: 100%;
    background-color: #E8E8E8;
}

.container{
    min-width: 960px;
    margin: 0 auto;
}


h1{
    background-color: #ff6347;
    color: white;
    height: 55px;
    text-align: center;
    line-height: 1.8;
}

button{
    color: white;
    cursor: pointer;
    font-size: 30px;
    background-color: #ff4040;
    padding: 10px;
    text-decoration: none;
    position: absolute;
    right: 0%;
    top: 0%;
    border: 0px solid #000000;
    transition: filter 0.2s;

}

button:hover{
    filter: brightness(90%);
}

.dois{
    padding: 20px;
    font-size: 40px;
    color: #B22222;
}

table{
    text-align: center;
}

.outro2{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

#p1{
    text-align: center;
    font-size: 40px;
    color: #474A51;
    padding: 20px;
}

#grafico{
    text-align: center;
}

footer{
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    color: #474A51;
    background: #d3d3d3;
    font-size: 20px;
    text-align: center;
}